<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}"/>
    <title>Site Map</title>
</head>
<body>

<script type="text/javascript" src="{{ url_for('static', filename='bower_components/proj4/dist/proj4.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/d3/d3.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
<script type="text/javascript">

    var proj4string = "{{ proj4string }}";
    var proj = proj4(proj4string);

    function degreesToRadians(degrees) {
        return degrees * Math.PI / 180;
    }
    function radiansToDegrees(radians) {
        return radians * 180 / Math.PI;
    }

    var project = function (lambda, phi) {
        return proj.forward([lambda, phi].map(radiansToDegrees));
    };

    project.invert = function (x, y) {
        return proj.inverse([x, y]).map(degreesToRadians);
    };

    var w = 500;
    var h = 300;

    //Define map projection
    var projection = d3.geoProjection(project);
    projection.scale(1)
        .translate([0, 0]);


    //Define path generator
    var path = d3.geoPath().projection(projection);

    //Create SVG element
    var svg = d3.select("body")
        .append("svg")
        .attr("width", w)
        .attr("height", h);


    //Load in GeoJSON data
    site_data = {{ site_data | tojson | safe }};
    console.log(site_data);
    // Calculate bounding box transforms for entire collection
    var b = path.bounds(site_data);
    var s = .95 / Math.max((b[1][0] - b[0][0]) / w, (b[1][1] - b[0][1]) / h);
    var t = [(w - s * (b[1][0] + b[0][0])) / 2, (h - s * (b[1][1] + b[0][1])) / 2];

    // Update the projection
    projection
        .scale(s)
        .translate(t);


    //Bind data and create one path per GeoJSON feature
    svg.selectAll("path")
        .data(site_data.features)
        .enter()
        .append("path")
        .attr("d", path)
        .style("fill", "blue");


</script>
</body>
</html>