<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hydrograph.css') }}" />
       <meta charset="utf-8">
       <title>Flood Viz</title>
   </head>
   <body>
        <div class="main-content container-fluid">
            <div id="hydrograph">
            </div>
            <div id="map"></div>
            <div id="peakflow_bar"></div>
        </div>

        <script type="text/javascript">
            // Global Namespace for project - FV
            var FV = FV || {};

            FV.hydrograph_data_path = "{{ url_for('timeseries_data', filename='data/hydrograph_data.json') }}";
            FV.hydrograph_dimensions = {{ config.CHART_DIMENSIONS | safe }};
            FV.hydrograph_display_ids = {{ config.HYDRO_DISPLAY_IDS | safe }};

        </script>
   </body>
</html>