#hydrograph {
	margin-top: 50px;
	margin-bottom: 10px;
	user-select: none;
}

#hydro-background {
	fill-opacity: 0;
	fill: white;
}

#hydrograph .voronoi path {
	fill: none;
	stroke: none;
	pointer-events: all;
}

#hydrograph .axis path,
#hydrograph .axis line {
	fill: none;
	stroke: grey;
	shape-rendering: crispEdges;
}

/* Voronoi Stuff */


.hydrotip-show #ht-text {
	text-anchor: middle;
	stroke: black;
	opacity: 1;
	stroke-width: 0;
	font-weight: normal;
	font-family: "Times", serif;
}

.hydrotip-show #ht-text-background {
	stroke: none;
	fill: rgba(71, 181, 176, 0.8);
}

.hydrotip-show #ht-arrow {
	stroke: none;
	fill: rgba(71, 181, 176, 0.8);
}

.hydrotip-show #ht-point {
	fill-opacity: unset;
	fill: rgba(71, 181, 176, 1);
	stroke: none;
}

.hydrotip-hide{
	display: none;
}

.toolTip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #7FFF00;
	padding: 14px;
	text-align: center;
}

.hydro-active{
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
	stroke-width: 2;
	stroke: blue;
	opacity: 1;
}
.hydro-inactive{
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
	stroke-width: 1;
	stroke: steelblue;
	opacity: 0.9;
}

.hydro-inactive-bland{
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
	stroke-width: 1;
	stroke: steelblue;
	opacity: 0.55;
}
.watermark {
    cursor: pointer;
    fill: #f1f1f1;
    stroke: #bdbdbd;
    stroke-width: 0.5;
}

#usgs-watermark line, polyline, path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10.00;
}
