#hydrograph {
	margin-top: 50px;
	margin-bottom: 10px;
}

#hydro-background {
	fill-opacity: 0;
	fill: white;
}

#hydrograph .voronoi path {
	fill: none;
	stroke: none;
	pointer-events: all;
}

#hydrograph .axis path,
#hydrograph .axis line {
	fill: none;
	stroke: grey;
	shape-rendering: crispEdges;
}

/* Voronoi Stuff */


.focus text {
	text-anchor: middle;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.toolTip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #7FFF00;
	padding: 14px;
	text-align: center;
}

.hydro-active{
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
	stroke-width: 2;
	stroke: blue;
	opacity: 1;
}
.hydro-inactive{
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
	stroke-width: 1;
	stroke: steelblue;
	opacity: 0.9;
}

.hydro-inactive-bland{
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
	stroke-width: 1;
	stroke: steelblue;
	opacity: 0.55;
}
