#map circle.gage-point{
	stroke: #004500;
	stroke-width: 2;
	fill-opacity: 0;
	opacity: .9;
}

#map circle.gage-point-accent {
stroke: #00d040 ;
stroke-width: 3;
fill-opacity: 0;
opacity: 1;
}

#map circle.ref-point{
	fill: red;
}

#map circle.debug-point{
	stroke: #ff00ff;
	stroke-width: 2;
	fill-opacity: 0;
}

#maptip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background-color: rgba(71, 181, 176, 0.8);
	border: none;
	padding: 10px;
	text-align: center;
	opacity: 1;
}

#map {
	margin-right: 10px;
	margin-top: 50px;
	margin-bottom: 10px;
}

#map path.background{
	stroke: black;
	fill: white;
	fill-opacity: 0;
}

#map path.river{
	stroke: steelblue;
	fill-opacity: 0;
}

rect.select-box {
	stroke: #b47846;
	fill: #b47846;
	fill-opacity: 0.1;
}

