circle.gage-point{
    stroke: green;
    stroke-width: 2;
    fill-opacity: 0;
}

circle.ref-point{
    fill: red;
}

circle.debug-point{
    stroke: #ff00ff;
    stroke-width: 2;
    fill-opacity: 0;
}

path.background{
    stroke: black;
    fill: white;
    fill-opacity: 0;
}

path.river{
    stroke: blue;
}