circle.gage-point{
    stroke: blue;
    stroke-width: 2;
    fill-opacity: 0;
}

circle.debug-point{
    stroke: green;
    stroke-width: 2;
    fill-opacity: 0;
}

path.background{
    stroke: black;
    fill: white;
    fill-opacity: 0;
}