#peakflow_bar {
	margin: 0 auto;
}

#peakflow_bar svg {
	display: block;
}

.lollipop-stem {
	width: .3%;
	stroke: steelblue;
}
.lollipop-stem-active {
	stroke: #b47846;
}

.lollipop-circle {
	fill: steelblue;
}

.lollipop-circle-active{
	fill: #b47846;
}

.bar {
	fill: steelblue;
}

.bar-active {
	fill: #b47846
}

.secret-bar{
	fill: red;
	fill-opacity: 0;
	stroke: blue;
	stroke-opacity: 0;
}