#peakflow_bar {
	margin: 0 auto;
}

#peakflow_bar svg {
	display: block;
}

#lollipop {
	width: .3%;
	stroke: #7fff00;
}

.cir {
	fill: #7FFF00;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: #7FFF00;
}
