#peakflow_bar {
	margin: 0 auto;
}

#peakflow_bar svg {
	display: block;
}

#lollipop {
	width: .3%;
	stroke: steelblue;
}
#lollipop:hover {
	stroke: #b47846;
}

.cir {
	fill: steelblue;
}

.cir:hover{
	fill: #b47846;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: #b47846
}
