
html, body, .main-content {
	height: 100%;
	margin: 0;
}

body {
	font: 12px Arial;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	font: 10px sans-serif;
	stroke-width: 1;
}

#pic1, #pic2, #textbox {
	border: 1px solid black;
	width: 320px;
	height: 200px;
}

