
html, body, .main-content {
	margin: 0 auto;
}

.header, .footer {
	background-color: rgb(0, 51, 102);
	color: white;
}

.header {
	height: 40px;
	font-family: "Source Sans Pro", sans-serif
}

.header img {
	float: left;
	width: 80px;
	margin-right: 5px;
	margin-top: 6px;
}

.header h3 {
	margin-top: 6px;
	float: left;
}

.footer-icons {
	height: 200px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	font: 10px sans-serif;
	stroke-width: 1;
}

#map_text {
	margin-top: 10px;
}

#pic1, #pic2 {
	margin-top: 50px;
}

#pic1_text, #pic2_text {
	margin-bottom: 50px;
	margin-top: 10px;
}

.header, .subheader, .footer {
	text-align: center;
	border: 1px solid black;
}


#textbox1 {
	margin-top: 50px;
}

.icon {
	margin-bottom: 10px;
	height: 25px;
	width: 25px;
}

.icon-div {
	margin-top: 50px;
	margin-right: 25px;
	position: fixed;
	right: 0;
	width: 25px;
	opacity: 1.0;
}

