html, body, .main-content {
    height: 100%;
    margin: 0;
}

body { font: 12px Arial;}

#hydrograph path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.bar{
	fill: steelblue;
}

.bar:hover {
	fill: #7FFF00;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}


#hydrograph {
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 50px;
	float: left;
}
#peakflow_bar {
	margin: 0 auto;
	width: 80%;
}
#peakflow_bar svg {
	display: block;
	margin: auto;
}

#lollipop {
	width: .3%;
	stroke: #7fff00;
}
.cir {
	fill: #7FFF00;
}
.nv-indexLine {
	display: none;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #7FFF00;
  padding: 14px;
  text-align: center;
}